{% extends 'base.html' %}
{% load static %}
{% block title %}
Profile Page:: {{author}} 
{% endblock title %}
<br>
{% block content %}
<main>
    <!-- Whats New Start -->
     <section class="whats-news-area pt-50 pb-20">
         <div class="container">
             <div class="row">
             <div class="col-lg-8">
                 <div class="row d-flex justify-content-between">
                    <hr>
                     <div class="col-lg-12 col-md-3">
                         <div class="section-tittle mb-30">
                            <h2>{{author.user.username}}</h2>
                            <small><img src="{{author.profile_picture.url}}" style="width: 70px; height:70px; border-radius: 50%;">
                                &nbsp;&nbsp;<a href="{{ news.author.facebook_link }}" ><img src="{% static 'assets/img/news/icon-fb.png' %}" alt="image not found" style="width:30px;"></a>
                                &nbsp;&nbsp;<a href="{{ news.author.twitter_link }}"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt="image not found" style="width:30px;"></a><br>
                                &nbsp;&nbsp;<p style="max-width: 100%;">{{author.bio}}</p>
                                <a href="{% url 'profile' %}" style='color:blue;'>Edit Profile </a>
                            </small>
                         </div>
                     </div>
                     <hr>
                     <!-- <div class="col-lg-9 col-md-9">
                         <div class="properties__button">
                                                                        
                             <nav>                                                                     
                                 <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                    {% for cat in categories %}
                                    <a class="nav-item nav-link" id="nav-home-tab" data-toggle="tab" href="{% url 'category' cat.slug %}" role="tab" aria-controls="nav-home" aria-selected="true">{{ cat.title }}</a>
                                    {% endfor %}
                                 </div>
                             </nav>
                            
                         </div>
                     </div> -->
                 </div>
                 <div class="row">
                     <div class="col-12">
                         <!-- Nav Card -->
                         <div class="tab-content" id="nav-tabContent">
                             <!-- card one -->
                             <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                                 <div class="whats-news-caption">
                                     <div class="row">
                                        {% for post in posts %}
                                         <div class="col-lg-6 col-md-6">
                                             <div class="single-what-news mb-100">
                                                 <div class="what-img">
                                                     <a href="{% url 'newsdetail' post.slug %}"><img src="{{post.thumbnail.url}}" alt=""> </a>
                                                 </div>
                                                 <div class="what-cap">
                                                     <span class="color1"><a href="{% url 'category' post.categories.slug %}" style="color:black;"> {{post.categories}} </a></span>
                                                     <h4><a href="{% url 'newsdetail' post.slug %}">{{post.title}}</a></h4>
                                                     <!-- <h5><small>By {{post.author}}</small></h5> -->
                                                 </div>
                                             </div>
                                         </div>
                                         {% endfor %}
                                     </div>
                                 </div>
                             </div>
                         </div>
                     <!-- End Nav Card -->
                     </div>
                 </div>
             </div>
             <div class="col-lg-4">
                 <!-- Section Tittle -->
                 <div class="section-tittle mb-40">
                     <h3>Follow Us</h3>
                 </div>
                 <!-- Flow Socail -->
                 <div class="single-follow mb-45">
                     <div class="single-box">
                         <div class="follow-us d-flex align-items-center">
                             <div class="follow-social">
                                 <a href="#"><img src="{% static 'assets/img/news/icon-fb.png' %}" alt=""></a>
                             </div>
                             <div class="follow-count">  
                                 <span>Facebook</span>
                             </div>
                         </div> 
                         <div class="follow-us d-flex align-items-center">
                             <div class="follow-social">
                                 <a href="#"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt=""></a>
                             </div>
                             <div class="follow-count">
                                 <span>Twitter</span>
                             </div>
                         </div>
                             <div class="follow-us d-flex align-items-center">
                             <div class="follow-social">
                                 <a href="#"><img src="{% static 'assets/img/news/icon-ins.png' %}" alt=""></a>
                             </div>
                             <div class="follow-count">
                                 <span>Instagram</span>
                             </div>
                         </div>
                         <div class="follow-us d-flex align-items-center">
                             <div class="follow-social">
                                 <a href="#"><img src="{% static 'assets/img/news/icon-yo.png' %}" alt=""></a>
                             </div>
                             <div class="follow-count">
                                 <span>Youtube</span>
                             </div>
                         </div>
                     </div>
                 </div>
                 <!-- New Poster -->
                 <div class="news-poster d-none d-lg-block">
                     <img src="assets/img/news/news_card.jpg" alt="">
                 </div>
             </div>
             </div>
         </div>
     </section>
     <!-- Whats New End -->
 
 
     <!--Start pagination -->
     <div class="pagination-area pb-45 text-center">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="single-wrap d-flex justify-content-center">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-start">

                              <!-- <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow roted"></span></a></li>
                                <li class="page-item active"><a class="page-link" href="#">01</a></li>
                                <li class="page-item"><a class="page-link" href="#">02</a></li>
                                <li class="page-item"><a class="page-link" href="#">03</a></li>
                              <li class="page-item"><a class="page-link" href="#"><span class="flaticon-arrow right-arrow"></span></a></li> -->
                              <!-- {% if blog.has_previous %}
                              <a class="pagination-action" href="?page=1">
                                  <i class="fa fa-angle-double-left" aria-hidden="true"></i> </a>
                              <a class="pagination-action" href="?page={{ blog.previous_page_number }}">
                                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                              </a>
                              {% endif %} -->


                              {% if posts.has_previous %}
                            
                               <li class="page-item"> <a class="page-link" href="?page=1"><span class="flaticon-arrow roted"></span></a></li>
                               <li class="page-item> <a class="page-link" href="?page={{ posts.previous_page_number }}"></a></li>
                              </a>
                              {% endif %}
                              {% for num in posts.paginator.page_range %}
                              {% if posts.number == num %}
                              <li class="page-item active"><a class="page-link" href="#">{{num}}</a></li>
                              {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{num}}</a></li>
                                {% endif %}
                                {% endfor %}
                                   {% if posts.has_next %}
                                   <li class="page-item> <a class="page-link" href="?page={{ posts.paginator.num_pages }}"><span class="flaticon-arrow right-arrow"></span></a></li>
                                  </a>
                                   {% endif %}
                            </ul>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <!-- End pagination  -->
     </main>
{% endblock content %}



