{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Apply to the job 
{% endblock title %}
{% block content %}
<!-- centralized div for login form with padding and margin -->
<div style="text-align: center;padding-left: 30%; padding-right: 30%; padding-bottom: 10%;margin-top: 5%;">
<h1> Apply to the Job </h1>
<!-- form to acccept media files  -->
<form action="" method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    {{form|crispy}}
    <!-- bootstrap attractive button to submit for login -->
    <button type="submit" class="btn btn-outline-primary btn-block"> Apply  </button>
    <br>
    <br>
</form>
</div>
{% endblock content %}


