{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Epaper {{paper.date_created|date:"d-m-Y"}} 
{% endblock title %}
{% block content %}
<!-- centralized div for login form with padding and margin -->
<div style="text-align: center;padding-left: 15%; padding-right: 15%; padding-bottom: 10%;margin-top: 5%;">
<h1>View E-paper</h1>
<small>{{paper.date_created}}</small>

<embed src="{{ paper.epaper_pdf.url }}" type="application/pdf" width="100%" height="600px" />
<p><small>Note: your browser may not support the pdf viewer Click <a href="{{paper.epaper_pdf.url}}" target="_blank" style="color:blue;">Here</a> to download</small></p>

</div>
{% endblock content %}