
{% extends 'base.html' %} {% load static %} {% block title %} EngineersNepal {%endblock title %} 


{% load custom_filters %}


{% block breakingstyle %}

<style>

.image-wala img {
    width: 100%;
    height: 50vh;
    object-fit:cover;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    border-radius:15px;
  }

  .image-wala img:hover{
    opacity:0.85;
    cursor: pointer;
  }
.breaking_title{
    font-size:64px; 
    
}
.breaking_title:hover{
    color:rgba(100,25,25,.90);
}

.subcat{
    color:#676767;
}

.subcat:hover{
    color: #fc3f00;
}

</style>
{% endblock breakingstyle %}

{% block breaking %}



<div class="container-fluid mt-50 text-center">
    <div class="trending-area fix">
        <div class="container">
            <div class="trending-main">
    {% for breaking_new in breaking_news %}
    <div class="row justify-content-center">

        <div class = 'col-md-9 mb-10'>
        <h1><a  class="breaking_title" href="{% url 'newsdetail' breaking_new.slug %}">{{breaking_new.title|slice:120}}</a></h1>
        </div>
        <div class="mb-15"><img src="{{breaking_new.author.profile_picture.url}}" style="width: 3vh; height:auto; border-radius: 50%;">&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size: 15px; color:#676767;font-weight: 600;">{{breaking_new.author.fullname}}</span>
            &nbsp;&nbsp;&nbsp;&nbsp;<img src="{% static 'calendar.png' %}" style="width: 2vh; height:auto;">&nbsp;&nbsp;<span style="font-size: 20px; color:#676767;font-weight: 600;">{{breaking_new.timestamp}}</span>
        </div>  
        {% if breaking_new.breakingthumbnail %}
      <div class="col-md-8 text-center image-wala">
        <a href = "{% url 'newsdetail' breaking_new.slug %}"><img class="img-fuild"  src="{{breaking_new.thumbnail.url}}" alt=""></a> 
      </div>
      <div class = 'col-md-9 mt-20'>
        <h1><a href="{% url 'newsdetail' breaking_new.slug %}">{{breaking_new.content|safe|slice:300}}...</a></h1>
        </div>
      {% endif %}

      

    </div>
    <hr>
    {% endfor %}
            </div>
        </div>
    </div>
  </div>
{% endblock breaking %}


{% block content %}
<!-- Trending Area Start -->
<main>
  <!-- Trending Area Start -->
  <div class="trending-area fix">
      <div class="container">
          <div class="trending-main">
              <!-- Trending Tittle -->
              
              <div class="row">
                  <div class="col-lg-8">

                    {% include 'home/trendingarea.html' %}
                    {% comment %}
                    <div class="trending-tittle mb-20">
                        <strong>Trending now</strong>
                        <!-- <p>Rem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->
                        <div class="trending-animated">
                            <ul id="js-news" class="js-hidden">
                              {% for slider in trending2 %}
                                <li class="news-item">{{slider.title}}</li>
                              {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endcomment %}
                    
                      <!-- Trending Top -->
                      <div class="trending-top mb-30">
                          <div class="trend-top-img">
                            <img src="{{featured_post.thumbnail.url}}" alt=""> 
                              <div class="trend-top-cap">
                                  <span>{{featured_post.categories.title}}</span>
                                  <h2><a href="{% url 'newsdetail' featured_post.slug %}">{{featured_post.title|slice:120}}</a></h2>
                              </div>
                          </div>
                      </div>
                      <!-- Trending Bottom -->
                      <div class="trending-bottom">
                          <div class="row">
                            {% for trend in trending1 %}
                              <div class="col-lg-4">
                              <div class="single-bottom mb-35">
                                  <div class="trend-bottom-img mb-10">
                                    <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt=""></a>
                                  </div>
                                  <div class="trend-bottom-cap">
                                      <span class="color1">{{trend.categories.title}}</span>
                                      {% if trend.title|length < 64 %}
                                      <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                                      {% else %}
                                      <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:64}}...</a></h4>
                                      {% endif %}
                                  </div>
                              </div>
                              </div>
                              {% endfor %}
                          </div>
                      </div>
                  </div>
                  <!-- Riht content -->
                 
                  <div class="col-lg-4">
                    <div class="row d-flex justify-content-between">
                        <div class="col">
                            <div class="section-tittle">
                                <h4 style="color:black;padding: 35px 0;">Most Recent</h4>
                            </div>
                        </div>
                    </div>
                    {% for trend in trending2 %}
                      <div class="trand-right-single d-flex">
                          <div class="trand-right-img">
                            {% comment %} <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;"></a> {% endcomment %}
                            <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;object-fit:cover;"></a>
                          </div>
                          <div class="trand-right-cap">
                              <span class="color1">{{trend.categories.title}}</span>
                              {% if trend.title|length < 40 %}
                              <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                              {% else %}
                              <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:40}}...</a></h4>
                              {% endif %}
                          </div>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!-- Development wala section -->
  <section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <div class="row d-flex">
                <div class="col">
                    <div class="section-tittle mb-10">
                        <h3 style="color:black;">Development</h3>
                    </div>
                </div>
                <div class="row justify-content-start mb-20">
                {% for cat in development %}
                <div class = "col-auto ">
                    <a class = "subcat" href = "{% url 'category' cat.slug %}">{{cat.title}}</a>
                </div>
                
                {% endfor %}
            </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                            <div class="whats-news-caption">
                                <div class="row"> 
                                  {% for trend in developnews %}
                                    <div class="col-lg-4">
                                        <div class="single-what-news mb-35">
                                            <div class="what-img mb-10">
                                                <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt=""></a>
                                            </div>
                                            <div class="what-cap">
                                                <span class="color1">{{trend.categories.title}}</span>
                                                {% if trend.title|length < 64 %}
                                                <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                                                {% else %}
                                                <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:64}}...</a></h4>
                                                {% endif %}
                                                {% comment %} <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:63}}...</a></h4> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End Nav Card -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <div class="section-tittle mb-30">
                        <h4 style="color:black;">Most Viewed</h4>
                    </div>
                </div>
            </div>
            {% for trend in weekly_top %}
              <div class="trand-right-single d-flex">
                  <div class="trand-right-img">
                    {% comment %} <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;"></a> {% endcomment %}
                    <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;object-fit:cover;"></a>
                  </div>
                  <div class="trand-right-cap">
                      <span class="color1">{{trend.categories.title}}</span>
                      {% if trend.title|length < 40 %}
                      <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                      {% else %}
                      <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:40}}...</a></h4>
                      {% endif %}
                  </div>
              </div>
              {% endfor %}
            <!-- New Poster -->
            {% comment %} <div class="news-poster d-none d-lg-block">
                <img src="{% static 'assets/img/hero/verticalgif.jpg' %}" alt="">
            </div> {% endcomment %}

        </div>
        </div>
    </div>
  </section>
  <!-- Trending Area End -->
  <!--   Weekly-News start -->

{% for key,value in category_dict.items  %}
{%if key.grid == "gridone"%}
<div class="weekly-news-area pt-50" style="background-color: rgba(49,38,62,0.8);">
{%endif%}
{%if key.grid == "gridtwo"%}

<div class="weekly-news-area pt-50">
{%endif%}
    <div class="container">
       <div class="weekly-wrapper">
            <!-- section Tittle -->
            {%if key.grid == "gridone"%}
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-tittle mb-30">
                        <h2 style="color: rgba(255,255,255,0.9);">{{key}}</h2>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-12">
                    <div class="weekly-news-active dot-style d-flex dot-style">
                      {% for weekly in value %}
                        <div class="weekly-single active">
                            <div class="weekly-img">
                                <a href="{% url 'newsdetail' weekly.slug %}"><img src="{{weekly.thumbnail.url}}" alt="" width="360" height="420" style="object-fit: cover;"></a>
                            </div>
                            <div class="weekly-caption">
                                {% if weekly.title|length < 64 %}
                                <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title}}</a></h4>
                                {% else %}
                                <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title|slice:64}}...</a></h4>
                                {% endif %}
                                {% comment %} <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title|slice:63}}...</a></h4> {% endcomment %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            {%if key.grid == "gridtwo"%}
            <div class="row">
                <div class="col-lg-9">
                    <div class="section-tittle mb-30">
                        <h2>{{key}}</h2>
                    </div>
                    <div class="whats-news-caption">
                        <div class="row">
                            {% for weekly in value %}
                              <div class=" col-lg-6 col-md-6">
                                <div class="single-what-news mb-100">
                                    <div class="what-img">
                                        <a href="{% url 'newsdetail' weekly.slug %}"><img src="{{weekly.thumbnail.url}}" alt=""></a>
                                    </div>
                                        <div class="weekly-caption">
                                            {% if weekly.title|length < 64 %}
                                            <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title}}</a></h4>
                                            {% else %}
                                            <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title|slice:64}}...</a></h4>
                                            {% endif %}
                                            {% comment %} <h4><a href="{% url 'newsdetail' weekly.slug %}">{{weekly.title|slice:63}}...</a></h4> {% endcomment %}
                                    </div>
                                </div>   
                              </div>
                              {% endfor %}
                        </div>
                    </div>
                    
                </div>
                <div class="col-lg-3">
                    <div class="news-poster d-none d-lg-block">
                       
                        {% with ad=key.desktop_ad %}
                        <a href="{{ ad.link }}" target="_blank"><img src="{{ad.photo.url}}" alt=""></a> 
                        {% endwith %} 
                    </div>
                </div>
                
            </div>
            {% endif %}
            <br><br>
            {%if key.grid == "gridone"%}
            <b><a href="{% url 'category' key.slug %}" style="color: rgba(255,255,255,0.9); text-indent: right;">View More</a></b>
            {%endif%}
            {%if key.grid == "gridtwo"%}
            <b><a href="{% url 'category' key.slug %}" style="color:#181019; text-indent: right;">View More</a></b>
            <div class="container d-lg-none mt-10 mb-10">
                {% with ad=key.mobile_ad %}
                    <a href="{{ ad.link }}" target="_blank"><img src="{{ad.photo.url}}" style="width: 100%;" alt="" ></a> 
                {% endwith %}
            </div>
            {%endif%}

            
            
            {% with ad=categorybottom|index:forloop.counter0 %}
            <div class="col-xl-12 col-lg-12 col-md-12 mt-20">
            <!-- <a href = "{{ad.link}}" target="_blank" >{{ad.title}}</a> -->
            <a href="{{ ad.link }}" target="_blank"><img src="{{ad.photo.url}}" alt="gg" style="width: 100%;"></a>
            </div>
            {% endwith %}
           
           
       </div>
    </div>
</div>    

{% endfor %}       
    
 
  <!-- End Weekly-News -->
 <!-- Whats New Start -->

  <!-- Whats New End -->
  <!--   Weekly2-News start -->
  <!-- <div class="weekly2-news-area  weekly2-pading gray-bg">
      <div class="container">
          <div class="weekly2-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-tittle mb-30">
                          <h3>Weekly Top News</h3>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="weekly2-news-active dot-style d-flex dot-style">
                          <div class="weekly2-single">
                              <div class="weekly2-img">
                                  <img src="assets/img/news/weekly2News1.jpg" alt="">
                              </div>
                              <div class="weekly2-caption">
                                  <span class="color1">Corporate</span>
                                  <p>25 Jan 2020</p>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div> 
                          <div class="weekly2-single">
                              <div class="weekly2-img">
                                  <img src="assets/img/news/weekly2News2.jpg" alt="">
                              </div>
                              <div class="weekly2-caption">
                                  <span class="color1">Event night</span>
                                  <p>25 Jan 2020</p>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div> 
                          <div class="weekly2-single">
                              <div class="weekly2-img">
                                  <img src="assets/img/news/weekly2News3.jpg" alt="">
                              </div>
                              <div class="weekly2-caption">
                                  <span class="color1">Corporate</span>
                                  <p>25 Jan 2020</p>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div>
                           <div class="weekly2-single">
                              <div class="weekly2-img">
                                  <img src="assets/img/news/weekly2News4.jpg" alt="">
                              </div>
                              <div class="weekly2-caption">
                                  <span class="color1">Event time</span>
                                  <p>25 Jan 2020</p>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div> 
                           <div class="weekly2-single">
                              <div class="weekly2-img">
                                  <img src="assets/img/news/weekly2News4.jpg" alt="">
                              </div>
                              <div class="weekly2-caption">
                                  <span class="color1">Corporate</span>
                                  <p>25 Jan 2020</p>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>            -->
  <!-- End Weekly-News -->
  <!-- Start Youtube -->
  <!-- <div class="youtube-area video-padding">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="video-items-active">
                    {% for video in videos %}
                      <div class="video-items text-center">
                          <iframe src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                      </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
          <div class="video-info">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="video-caption">
                          <div class="top-caption">
                              <span class="color1">Latest Videos</span>
                          </div>
                          <div class="bottom-caption">
                              <h2>Take a look at the latest videos</h2>
                              <p>Donot forget to subscribe to the newsletter of Engineers Nepal and donot ever miss anything about Latest Engineering related posts and videos. </p>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="testmonial-nav text-center">
                        {% for video in videos %}
                          <div class="single-video">
                              <iframe  src="{{video.link}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              <div class="video-intro">
                                  <h4>{{video.title}}</h4>
                              </div>
                          </div>
                          {% endfor %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>  -->
</div>
  <!-- End Start youtube -->
  <!--  Recent Articles start -->
  <!-- <div class="recent-articles">
      <div class="container">
         <div class="recent-wrapper">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="section-tittle mb-30">
                          <h3>Recent Articles</h3>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="recent-active dot-style d-flex dot-style">
                          <div class="single-recent mb-100">
                              <div class="what-img">
                                  <img src="assets/img/news/recent1.jpg" alt="">
                              </div>
                              <div class="what-cap">
                                  <span class="color1">Night party</span>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div>
                          <div class="single-recent mb-100">
                              <div class="what-img">
                                  <img src="assets/img/news/recent2.jpg" alt="">
                              </div>
                              <div class="what-cap">
                                  <span class="color1">Night party</span>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div>
                          <div class="single-recent mb-100">
                              <div class="what-img">
                                  <img src="assets/img/news/recent3.jpg" alt="">
                              </div>
                              <div class="what-cap">
                                  <span class="color1">Night party</span>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div>
                          <div class="single-recent mb-100">
                              <div class="what-img">
                                  <img src="assets/img/news/recent2.jpg" alt="">
                              </div>
                              <div class="what-cap">
                                  <span class="color1">Night party</span>
                                  <h4><a href="#">Welcome To The Best Model  Winner Contest</a></h4>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
         </div>
      </div>
  </div>            -->
  <!--Recent Articles End -->
  <!--Start pagination -->
  <!-- End pagination  -->
  </main>

  

{% endblock content %}