{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Login 
{% endblock title %}
{% block content %}
<!-- centralized div for login form with padding and margin -->
<div style="text-align: center;padding-left: 20%; padding-right: 20%; padding-bottom: 10%;margin-top: 5%;">
<h1> Login </h1><hr>
<form action="" method="post" style="text-align: center;">
    {% csrf_token %}
    {{form|crispy}}
    <!-- bootstrap attractive button to submit for login -->
    <button type="submit" style="background-color: green; /* Green */
    border: none;
    color: white;
    padding: 8px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;"> Login </button>
    <br>
    <small><a href="{% url 'password_reset' %}" style="color: red"> Forget Password</a></small>
    <br>
</form>
</div>
{% endblock content %}


