{% extends 'base.html' %}
{% block title %}
{{news.title}}
{% endblock title %}
{% load static %}
{% load social_share %}
{% block content %}


<main>
    <!-- About US Start -->
    <div class="about-area">
        <div class="container">
                
               <div class="row mt-20">
                    <div class="col-lg-8">
                        <!-- Trending Tittle -->
                        <div class="about-right mb-90">
                            <div class="about-img">
                                <img src="{{news.thumbnail.url}}" alt="" style="height:20%;">
                            </div>
                            <div class="section-tittle mb-30 pt-30">
                                <h1>{{news.title}}</h1><br>
                                <small>{{news.timestamp}}</small>
                                <hr>
                                <small><img src="{{news.author.profile_picture.url}}" style="width: 50px; height:50px; border-radius: 50%;">&nbsp;&nbsp;<a href="{% url 'adminpage' news.author.slug %}" style="color:black;"><b style="font-size: 20px;">{{news.author.fullname}}</b></a>
                                    {% comment %} &nbsp;&nbsp;<a href="{{ news.author.facebook_link }}" ><img src="{% static 'assets/img/news/icon-fb.png' %}" alt="image not found" style="width:20px;"></a>
                                    &nbsp;&nbsp;<a href="{{ news.author.twitter_link }}"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt="image not found" style="width:20px;"></a> {% endcomment %}
                                </small><br>
                                <!-- icon for delete post -->
                                {% if news.author.user == user %}
                                <!-- icon for update  -->
                                <small style="padding-left: 60px;"><a href="{% url 'update-post' news.slug %}"><button style="background-color: green; border: none; color: white;">Update <i class="fas fa-edit" aria-hidden="true"></i></button></a></small>
                                <!-- <small><a  href="{% url 'delete-post' news.slug %}"><button style="background-color: red; border: none; color: white;">Delete <i class="fa fa-trash" aria-hidden="true"></i></button></a></small>                                           -->
                                {% endif %}
                                <hr>
                            </div>
                                <a href="{{adnewsbegin.link}}" target="_blank"><img src="{{adnewsbegin.photo.url}}" alt="" style='width:100%;'></a>
                            <div class="newscontent">

                                {{news.content|safe}}

                        </div>
                        <a href="{{adnewsend.link}}" target="_blank"><img src="{{adnewsend.photo.url}}" alt="" style="width:100%;"></a>
                            <br><br><br><br>
                        <div class="social-share pt-30">
                            <div class="section-tittle">
                                <h3 class="mr-20">Share:</h3> 
                                <ul>
                                    <li><a href='#' style="color:black;"> {% post_to_facebook object_or_url "Share to Facebook" %}</a></li>
                                    <li><a href='#' style="color:black;"> {% post_to_twitter "{{news.title}}" object_or_url "Post to Twitter" %}</a></li>
                                    <li><a href='#' style="color:black;"> {% post_to_linkedin object_or_url %}</a></li>
                                </ul>
                            </div>
                        </div>
                        <br>

                        <!-- <h5 class="mr-20">About The Author</h5>
                        <div class="container-fluid">
                            <div class="row" style="max-width: 540px;">
                                <div class="col-12 mt-3">
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="{{news.author.profile_picture.url}}" alt="Author Image" style="width:100%; height: 100%;">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="{% url 'adminpage' news.author.slug %}" style="color:black;">{{news.author.fullname }}</a></h4>
                                                <p class="card-text">{{news.author.bio}}</p>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col d-lg-none mt-10 mb-10">
                            {% with ad=newspagemobile%}
                                <a href="{{ ad.link }}" target="_blank"><img src="{{ad.photo.url}}" style="width: 100%;" alt="" ></a> 
                            {% endwith %}
                        </div>  
    
                        <!-- <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div> -->
                        </div>
                        <!-- From -->

                    </div>
                                                  

{% include 'home/followus.html' %}
               </div>
        </div>
    </div>
    <!-- About US End -->
</main>

{% endblock content %}