{% extends 'base.html' %}
{% block SEO%}
<meta property="og:image" content="{{news.thumbnail.url}}">
<meta name="twitter:image" content="{{news.thumbnail.url}}">
{% endblock SEO %}
{% block title %}
{{news.title}}
{% endblock title %}
{% load static %}
{% load social_share %}
{% block content %}


<main>
    <!-- About US Start -->
    <div class="about-area">
        <div class="container">
                
               <div class="row mt-20">
                    <div class="col-lg-8">
                        <!-- Trending Tittle -->
                        <div class="about-right mb-90">
                            <br>
                            <h1>{{news.title}}</h1><br>
                            <div class="about-img">
                                <img src="{{news.thumbnail.url}}" alt="" style="height:20%;" class="img-fluid">
                            </div>
                            <div class="section-tittle mb-30 pt-30">
                                <small>Posted: <b>{{news.timestamp}}</b></small>
                                <!-- icon for views font awesome  -->
                                <i class="fa fa-eye" aria-hidden="true" style="padding-left: 20px;">&nbsp;<small>Views: <b>{{news.views}}</b></small></i>
                                <hr>
                                <small><img src="{{news.author.profile_picture.url}}" style="width: 50px; height:50px; border-radius: 50%;">&nbsp;&nbsp;<a href="{% url 'adminpage' news.author.slug %}" style="color:black;"><b style="font-size: 20px;">{{news.author.fullname}}</b></a>
                                    {% comment %} &nbsp;&nbsp;<a href="{{ news.author.facebook_link }}" ><img src="{% static 'assets/img/news/icon-fb.png' %}" alt="image not found" style="width:20px;"></a>
                                    &nbsp;&nbsp;<a href="{{ news.author.twitter_link }}"><img src="{% static 'assets/img/news/icon-tw.png' %}" alt="image not found" style="width:20px;"></a> {% endcomment %}
                                </small>
                                <!-- icon for delete post -->
                                {% if news.author.user == user %}
                                <!-- icon for update  -->
                                <small style="padding-left: 60px;"><a href="{% url 'update-post' news.slug %}"><button style="background-color: green; border: none; color: white;">Update <i class="fas fa-edit" aria-hidden="true"></i></button></a></small>
                                <!-- <small><a  href="{% url 'delete-post' news.slug %}"><button style="background-color: red; border: none; color: white;">Delete <i class="fa fa-trash" aria-hidden="true"></i></button></a></small>                                           -->
                                {% endif %}
                                <div class="social-share pt-30">
                                    <div class="section-tittle">
                                        <h5 class="mr-20">Share:</h5> 
                                        <ul>
                                            <li><a href='#' style="color:black;"> {% post_to_facebook object_or_url "Share to Facebook" %}</a></li>
                                            <li><a href='#' style="color:black;"> {% post_to_twitter "{{news.title}}" object_or_url "Post to Twitter" %}</a></li>
                                            <li><a href='#' style="color:black;"> {% post_to_linkedin object_or_url %}</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            {% if adnewsbegin.status %}   
                                <a href="{% url 'clicker' adnewsbegin.id %}" target="_blank"><img src="{{adnewsbegin.photo.url}}" alt="" style='width:100%;'></a>
                            {% endif %}
                                <div id='newsss' class="newscontent">

                                {{news.content|safe}}

                        </div>
                        {% if adnewsend.status %}
                        <a href="{% url 'clicker' adnewsend.id %}" target="_blank"><img src="{{adnewsend.photo.url}}" alt="" style="width:100%;"></a>
                        {% endif %}
                            <br><br><br><br>
                        {% comment %} <div class="social-share pt-30">
                            <div class="section-tittle">
                                <h3 class="mr-20">Share:</h3> 
                                <ul>
                                    <li><a href='#' style="color:black;"> {% post_to_facebook object_or_url "Share to Facebook" %}</a></li>
                                    <li><a href='#' style="color:black;"> {% post_to_twitter "{{news.title}}" object_or_url "Post to Twitter" %}</a></li>
                                    <li><a href='#' style="color:black;"> {% post_to_linkedin object_or_url %}</a></li>
                                </ul>
                            </div>
                        </div> {% endcomment %}
                        <br>

                        <!-- <h5 class="mr-20">About The Author</h5>
                        <div class="container-fluid">
                            <div class="row" style="max-width: 540px;">
                                <div class="col-12 mt-3">
                                    <div class="card">
                                        <div class="card-horizontal">
                                            <div class="img-square-wrapper">
                                                <img class="" src="{{news.author.profile_picture.url}}" alt="Author Image" style="width:100%; height: 100%;">
                                            </div>
                                            <div class="card-body">
                                                <h4 class="card-title"><a href="{% url 'adminpage' news.author.slug %}" style="color:black;">{{news.author.fullname }}</a></h4>
                                                <p class="card-text">{{news.author.bio}}</p>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <div class="col d-lg-none mt-10 mb-10">
                            {% with ad=newspagemobile%}
                            {% if ad.status %}
                                <a href="{% url 'clicker' ad.id %}" target="_blank"><img src="{{ad.photo.url}}" style="width: 100%;" alt="" ></a> 
                            {% endif %}
                            {% endwith %}
                        </div>  
                        <!-- <div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-width="" data-numposts="5"></div> -->
                        </div>
                        <!-- From -->

                    </div>
                    {% include 'home/followus.html' %}
                                                  


               </div>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-md-6 col-12 pb-4">
                    <h1>Comments</h1>
                    <hr>
                    {% if request.user.is_superuser %}
                    <!-- fa icon for verifying -->
                    <a href="{% url 'verify-comment' news.slug %}"> <i class="fa fa-check-circle" aria-hidden="true">Verify all</i>
                    </a>
                    {% for comment in commentsall %}
                    <div class="comment mt-5 text-justify float-left" style="width: 100%;">
                        <img src="{% static 'defaultcomment.jpg' %}" alt="" class="rounded-circle" width="40" height="40">
                            <h4>{{comment.name}}
                            </h4>
                        <span>- {{comment.date}}</span>
                        <br>
                        <p >{{comment.comment}}</p>
                        {% if comment.verified %}
                        <a href="{% url 'verifycomment' comment.id %}"> <i class="fa fa-check-circle" aria-hidden="true">Unverify</i> </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% else %}
                        <a href="{% url 'verifycomment' comment.id %}"> <i class="fa fa-check-circle" aria-hidden="true">Verify</i> </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        {% endif %}
                        <a href="{% url 'deletecomment' comment.id %}">  <i class="fa fa-trash" aria-hidden="true">Delete</i></a>
                    </div>
                    {% endfor %}
                    {% else %}
                    {% for comment in comments %}
                    <div class="comment mt-5  text-justify float-left" style="width: 100%;">
                        <img src="{% static 'defaultcomment.jpg' %}" alt="" class="rounded-circle" width="40" height="40">
                            <h4>{{comment.name}}
                            </h4>
                        <span>- {{comment.date}}</span>
                        <br>
                        <p>{{comment.comment}}</p>
                        </div>
                    {% endfor %}
                    {% endif %}

                </div>
                <div class="col-lg-4 col-md-5 col-sm-4 offset-md-1 offset-sm-1 col-12 mt-4">
                    <form id="algin-form" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
                            <h4>Leave a comment</h4>
                            <label for="message">Message</label>
                            {{form.comment}}
                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                           {{form.name}}
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            {{form.email}}
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" id="post" class="btn" style="background: #994636;">Post Comment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    <!-- About US End -->
</main>
<section class="whats-news-area pt-50 pb-20">
    <div class="container">
        <div class="row">
        <div class="col-lg-8">
            <div class="row d-flex">
                <div class="col">
                    <div class="section-tittle mb-10">
                        <h3 style="color:black;">Most Viewed Weekly</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Nav Card -->
                    <div class="tab-content" id="nav-tabContent">
                        <!-- card one -->
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">           
                            <div class="whats-news-caption">
                                <div class="row"> 
                                  {% for trend in weekly_top %}
                                    <div class="col-lg-4">
                                        <div class="single-what-news mb-45 additional_popup">
                                            <div class="what-img mb-10">
                                                <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt=""></a>
                                            </div>
                                            <div class="what-cap">
                                                <span class="color1">{{trend.categories.title}}</span>
                                                {% if trend.title|length < 64 %}
                                                <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                                                {% else %}
                                                <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:64}}...</a></h4>
                                                {% endif %}
                                                {% comment %} <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:63}}...</a></h4> {% endcomment %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- End Nav Card -->
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <!-- Section Tittle -->
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <div class="section-tittle mb-30">
                        <h4 style="color:black;">{{news.categories.title}} More</h4>
                    </div>
                </div>
            </div>
            {% for trend in categoricalnews %}
            <div class="trand-right-single d-flex">
                <div class="trand-right-img">
                  {% comment %} <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;"></a> {% endcomment %}
                  <a href="{% url 'newsdetail' trend.slug %}"><img src="{{trend.thumbnail.url}}" alt="" style="width:120px; height:100px;object-fit:cover;"></a>
                </div>
                <div class="trand-right-cap">
                    <span class="color1">{{trend.categories.title}}</span>
                    {% if trend.title|length < 40 %}
                    <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title}}</a></h4>
                    {% else %}
                    <h4><a href="{% url 'newsdetail' trend.slug %}">{{trend.title|slice:40}}...</a></h4>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <!-- New Poster -->
            {% comment %} <div class="news-poster d-none d-lg-block">
                <img src="{% static 'assets/img/hero/verticalgif.jpg' %}" alt="">
            </div> {% endcomment %}

        </div>
        </div>
    </div>
  </section>

{% endblock content %}


{% block adscript %}

<script>
var ad = JSON.parse('{{ newsmid|safe }}');
function insertad() {
    var div = document.getElementById('newsss');
    var paragraphs = div.getElementsByTagName('p');
  
    if ( 3 > paragraphs.length) {
      return;
    }
  
    var photo = document.createElement('img');
    photo.src = '{{ newsmidd.photo.url }}' ;
    photo.style.width = '100%';

    var link = document.createElement('a');
    link.href = '{% url "clicker" newsmidd.id %}';
    link.target = "_blank";
    link.appendChild(photo);

    var mydiv = document.createElement('div');
    mydiv.className = 'mt-10, mb-20';
    mydiv.appendChild(link);


    
    var targetParagraph = paragraphs[2];
    targetParagraph.parentNode.insertBefore(mydiv, targetParagraph);
  }

  if (ad.status){

    insertad(ad.link,ad.photo);

  }
  function centerModal() {
    $(this).css('display', 'block');
    var $dialog = $(this).find(".modal-dialog");
    var offset = ($(window).height() - $dialog.height()) / 2;
    // Center modal vertically in window
    $dialog.css("margin-top", offset);
}

$('.modal').on('show.bs.modal', centerModal);
$(window).on("resize", function () {
    $('.modal:visible').each(centerModal);
});

  

</script>


{% endblock adscript %}