{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Create new post
{% endblock title %}
<!-- centered div for form -->

{% block content %}
<br><br>
<div class="container" style="text-align: center; padding-left: 10%; padding-right: 10%;padding-bottom: 5%;">
    <h1> Create new post </h1>
<form action="" method="post" enctype="multipart/form-data" style="text-align: center;">
    {% csrf_token %}
    {{form.media}}
    {{form|crispy}}
    <br>
    <button type="submit" class="btn btn-outline-primary"> Create Post </button>
</form>
</div>
{% endblock content %}