{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
{{ vacancy.title }} 
{% endblock title %}
{% block content %}
<!-- centered div  -->
<div style="width: 100%; text-align: justified; margin: 0 auto; padding-left: 10%;padding-right: 10%;padding-top: 2%;">
<h1>{{vacancy.title}}</h1>
<!-- a row to display icons for several data -->
<div class="row">
<div class="col-md-20">
<i class="fa fa-map-marker" aria-hidden="true"></i> <span class="job-title">Location: </span><span class="job-title">{{vacancy.place}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-calendar" aria-hidden="true"></i> <span class="job-title">Deadline: </span><span class="job-title">{{vacancy.date_expiry}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa fa-clock" aria-hidden="true"></i> <span class="job-title">Work Time: </span><span class="job-title">{{vacancy.worktime}}</span>
</div>
</div>
<hr>
<p>
    <div class="newscontent">
{{ vacancy.description|safe }}
</div>
<br>
   Salary: <b>{{vacancy.salary}}</b>
<br>
Submit by: <span class="job-title"><b>{{vacancy.date_expiry}}</b></span><br>
Work type: <span class="job-title"><b>{{vacancy.place}}</b></span><br>
Link: <a href="{{vacancy.link}}" target="_blank" style="color:blue;">{{vacancy.link}}</a>
<br>
<b><a href="{% url 'apply' vacancy.id %}" style="color:blue;">Apply Now</a></b>
</div>

`
{% endblock content %}