{% extends 'base.html' %}
{% block title %}
Goto Gmail 
{% endblock title %}
{% block content %}
<!-- centered div  -->
<div style="text-align: center;padding-left: 30%; padding-right: 30%; padding-bottom: 10%;margin-top: 5%;">
    <h1>  Reset Password  </h1>
    <!-- bootstrap attractive button to submit for login -->
    <h5>A password reset email has been sent to your Email. </h5>
    <!-- fa icon gmail -->

    Proceed to: <a href="http://www.gmail.com" style="color:black">Gmail: <i class="fa fa-envelope" style="font-size: 20px; color: green;"></i> </a>
</div>
    {% endblock %}