{% extends 'register/base.html' %}
{% block content %}
<div style="text-align: center;padding-left: 35%; padding-right: 30%; padding-bottom: 10%;margin-top: 5%;">
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4"> RESET PASSWORD </legend>
        {{ form.as_p }}
        </fieldset>
        <div class="form-group">
            <button class ="btn btn-outline-info" type="submit"> Confirm  </button>
        </div>
    </form>
</div>
</div>
{% endblock %}